@using System.Configuration
@using System.Web
@using MvcReportViewer;

@{
    ViewBag.Title = "Tire Details";
    Layout = null;

}

@{
    var parameters = new List<KeyValuePair<string, object>>
{
    new KeyValuePair<string, object>("vendorId",ViewBag.vendorid),
    new KeyValuePair<string, object>("unitNo",ViewBag.unitId),
    new KeyValuePair<string, object>("tireno",ViewBag.tireno),
    new KeyValuePair<string, object>("unitType",ViewBag.unitType),
    new KeyValuePair<string, object>("location",ViewBag.locationId),
    new KeyValuePair<string, object>("startDate",ViewBag.fromDate),
    new KeyValuePair<string, object>("endDate",ViewBag.toDate),
    };
    var settings = new ControlSettings { ShowToolBar = false };
}
<div id="divPrint">

    @Html.MvcReportViewer("/RMReports/rptTireDetails", parameters, new { Height = 1000, Width = "100%", style = "border: none" }).ControlSettings(new ControlSettings { ShowParameterPrompts = false })
    <div class="span3"></div>

</div>

