@using System.Configuration
@using System.Web
@using MvcReportViewer;

@{
    ViewBag.Title = "UnitRepairHistoryReport";
    Layout = null;
}

@{
    var parameters = new List<KeyValuePair<string, object>>
{
    new KeyValuePair<string, object>("unitno",ViewBag.unitno),

    };
    var settings = new ControlSettings { ShowToolBar = false };
}
<div id="divPrint">

    @Html.MvcReportViewer("/MechanicRepairHistory", parameters, new { Height = 800, Width = "100%", style = "border: none" }).ControlSettings(new ControlSettings { ShowParameterPrompts = false })
    <div class="span3"></div>
</div>



